[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
APScheduler = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[scripts]
check = "bash -c \"pipenv run style && pipenv run unit\""
unit = "pytest --cov=review --cov-fail-under 80 tests/"
style = "flake8 --count --show-source --statistics review tests"
